*.swp
package-lock.json
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tsbuildinfo
.eslintcache
*.tgz
.yarn-integrity
.cache
.DS_Store
/lib
/dist/
!/.eslintrc.json
/assets/
!/cdk.json
cdk.out/
.cdk.staging/

